* {
    padding: 0px;
    margin: 0px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin-top: 50px;
}

h1 {
    background-color: rgba(0, 255, 255, 0.49);
    margin-bottom: 40px;
    padding: 20px;
}

/* Box in background to options to add decoration
*/
.bkdiv {
    z-index: 0;
    background-color: rgba(0, 255, 255, 0.49);
    height: 800px;
    width: 150px;
    align-items: left;

    position:absolute; /* Positions relative to the container */
    height: 350px; /* Fill container height */
 
}

/* Options div contains all my selections 
*/
.options {
    /* Recipe options over the background decor */
    z-index: 2;
}

/* All my selections encapsulated within the options div 
    This is the flex container
 */
.options div {
    /* Space out the recipe options */
    margin-bottom: 10px;

    /* Define the height of each recipe choice, and make the legend text bigger */
    height: 100px;
    font-weight: bolder;
    font-size:50px;

    /* Left justify our legend and image within the div container */
    display: flex;
    justify-content: flex-start;
    
    /* Default state for selections is grey scale */
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

/* Individual option changes to color when mouse is hovering
*/
.options div:hover {
    filter: grayscale(0%);
}

div img {
    /* Leave a little gap at the bottom for decor reasons */
    padding-bottom: 10px;

    /* Legend and Image are ratio 2:6 within the container */
    flex: 6;

    /* Display a center slab of the overall image */
    object-fit: cover;
}

div p {
    background-color: rgb(236, 236, 236);
    margin: 0px ;
    
    /* Extend background of p to the image */
    flex:2;
    
    padding: 8px;
}
